{% extends 'CherezWebHostingBundle:Email:layout.html.twig' %}

{% block content %}
<h4>Изменен пароль базы данных "{{ bdName }}" на площадке "{{ allocationName }}"</h4>
<p>
    <b>Для доступа к базе используйте:</b>
    <br/>
    Хост базы: {{ bdHost }}<br/>
    Имя базы: {{ bdName }}<br/>
    Логин базы: {{ bdLogin }}<br/>
    Пароль базы: {{ bdPassword }}<br/>
</p>
{% endblock content %}
