{% extends 'CherezWebHostingBundle:Email:layout.html.twig' %}

{% block content %}
<h4>Площадка "{{ allocation.name }}" оплачена до {{ allocation.paidTill | date("d.m.Y") }}</h4>
<p>
    Не забывайте своевременно продлевать свои площадки. Сайты на просроченных площадках блокируются и через 15 дней безвозвратно удаляются.
</p>
<p>
    Если площадка "{{ allocation.name }}" вам больше не нужна, и вы не хотите получать данное уведомление - удалите площадку через панель хостинга: <a href="http://hosting.cherezweb.ru{{ path('cherez_web_hosting_cp_allocation_list') }}">http://hosting.cherezweb.ru{{ path('cherez_web_hosting_cp_allocation_list') }}</a>
</p>
{% endblock content %}