{% extends "CherezWebDefaultBundle:AjaxResponse:layout.html.twig" %}
{% block content %}
    <p>
        Задание по расписанию <b>"{{ job.id }}"</b> на площадке "{{ job.allocation.name }}" будет удалено.
    </p>
    <p>
        Вы действительно хотите удалить задание по расписанию <b>"{{ job.id }}"</b> на площадке "{{ job.allocation.name }}"?
    </p>
    <hr/>
    <button type="button" class="btn btn-primary">Отменить</button>
    <button type="button" class="btn btn-danger job-delete-btn">Удалить задание по расписанию "{{ job.id }}"</button>
    <script type="text/javascript">
        $(function () {
            var container = $('#{{ responseContainerId }}');
            var dialogParams = $.extend(true, getDefaultAjaxDialogParams(), {
                title: 'Удаление задания по расписанию'
            });
            container.find('.job-delete-btn').click(function (e) {
                $.chwAjax().makeRequest(Routing.generate('cherez_web_hosting_cp_job_delete', {job: "{{ job.id }}", confirmed: true}));
            });
            container.find('.btn-primary').click(function (e) {
                container.dialog('close');
            });
            
            container.dialog(dialogParams);
        });
    </script>
{% endblock content %}