{% extends "CherezWebDefaultBundle:AjaxResponse:layout.html.twig" %}
{% block content %}
    {% if not ftps %}
        Список пуст...
    {% else %}
        <table class="table table-bordered table-striped table-hover ftps-list">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>Хост</th>
                    <th>Путь</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for ftp in ftps %}
                    <tr ftp-id="{{ ftp.id }}">
                        <th scope="row">{{ ftp.name }}</th>
                        <td>{{ ftp.allocation.quota.server.ipAddress }}</td>
                        <td>{{ ftp.dirPath }}</td>
                        <td>
                            {% if ftp.lockingTasks %}
                                <b>Обрабатываются задачи:</b><br/>
                                {% include 'CherezWebHostingBundle:Task:render_task_list.html.twig' with {'tasks': ftp.lockingTasks} only  %}
                                <img src="{{ asset('bundles/cherezwebhosting/img/ajax-loader.gif') }}"/>
                            {% else %}
                                <button type="button" class="btn btn-xs btn-primary btn-block ftp-change-dir-btn">Изменить путь</button>
                                <button type="button" class="btn btn-xs btn-warning btn-block ftp-change-password-btn">Изменить пароль</button>
                                <button type="button" class="btn btn-xs btn-danger btn-block ftp-delete-btn">Удалить</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            $(function () {
                var container = $('#{{ responseContainerId }}');
                container.find('.ftp-change-dir-btn').click(function (e) {
                    var ftpId = $(this).closest('tr').attr('ftp-id');
                    $.chwAjax().makeRequest(Routing.generate('cherez_web_hosting_cp_ftp_change_dir', {ftp: ftpId}));
                });
                container.find('.ftp-change-password-btn').click(function (e) {
                    var ftpId = $(this).closest('tr').attr('ftp-id');
                    $.chwAjax().makeRequest(Routing.generate('cherez_web_hosting_cp_ftp_change_password', {ftp: ftpId}));
                });
                container.find('.ftp-delete-btn').click(function (e) {
                    var ftpId = $(this).closest('tr').attr('ftp-id');
                    $.chwAjax().makeRequest(Routing.generate('cherez_web_hosting_cp_ftp_delete', {ftp: ftpId}));
                });
            });
        </script>
    {% endif %}
{% endblock content %}